body {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    font-family: Sans-serif;
    background: #fff;
}
.wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-height: 90%;
    min-height: 90%;
    max-width: 70%;
    min-width: 70%;
}
.right {
    align-self: flex-end;
}
.bold {
    font-weight: bold;
}
.imgWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}
.footie {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top: 1px solid #AAAAAA;
    font-size: .6em;
    line-height: 2em;
}
a {
    min-width: 25%;
    max-width: 25%;
    font-family: Sans-serif;
    font-size: .6em;
    line-height: 2em;
    text-decoration: none;
}